<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Petoria | Home</title>
</head>
<body>
<h1>Welcome to Petoria</h1>
<p>Select a section:</p>

<button onclick="location.href='get-a-pet.html'">Get a Pet</button>
<button onclick="location.href='lost-and-found.html'">Lost & Found</button>
<button onclick="location.href='directory.html'">Directory</button>
<button onclick="location.href='qa.html'">Q&A</button>
<button onclick="location.href='blog.html'">Blog</button>
<button onclick="location.href='messages.html'">Messages</button>
<button onclick="location.href='profile.html'">Profile</button>
<button onclick="location.href='settings.html'">Settings</button>
</body>
</html>